body{
  font-family: 'Raleway', sans-serif;
  width: 100%;
  height: 100vh;
  padding: 0;
  margin: 0;
  position: relative;
  width: 100vw;
  min-height: 100vh;
}

ul{
  padding: 0;
}

a{
  text-decoration: none;
  color: inherit;
}

.container{
  padding-top: 60px;
}

.active-link{
  background: rgba(#999, 0.1);
  border-color: black;
}
