$color: #EFE9F4;
$font: 50px;
$black: #0D090A;


.Content{
  padding: 60px 20px !important;
}

.Content__header{
  margin: auto !important;
}

.Content__chat{
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

.Chat__list{
  display: flex;
  flex-direction: column;
}

.Chat__message{
  text-align: left;
  margin-bottom: 20px;
  transition: 0.5s;
}

.Chat__message span{
  background: red;
  border-radius: 20px;
  color: white;
  text-align: left;
  padding: 10px 10px;
}

.Chat__animation-enter{
  opacity: 0.01;
  width: 0;
  transform-origin: left;
}

.Chat__animation-enter.Chat__message-enter-active {
  opacity: 1;
  width: auto;
  transition: all .1s ease-in;
}
