.landing{
  background-image: url(https://images.unsplash.com/photo-1445699269025-bcc2c8f3faee?dpr=2&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop=&bg=);
  height: 100vh;
  position: relative;
  background-size: cover;
  background-position: 50%;
  width: 100vw;
}
