@import url('https://fonts.googleapis.com/css?family=Dancing+Script');

$height: 60px;
$color: black;

nav{
  width: 100vw;
  display: flex;
  position: fixed;
  margin: 0;
  z-index: 100;
  background: rgba(white, 0.8);
  ul{
    margin: 0 auto;
    display: flex;
    list-style: none;
    width: 80%;
    height: $height;
    justify-content: space-around;
    li{
      display: flex;
      color: $color;
      box-sizing: border-box;
      border-bottom: 3px solid rgba(255,255,255,0.0);
      transition: 0.2s;
      &:hover{
       border-bottom: 3px solid $color;
       cursor: pointer;
      }
      a{
        font-family: 'Raleway', sans-serif;
        font-size: 16px;
        margin: auto;
        color: $color;
        line-height: 60px;
        align-items: center;
        &:hover{
          color: $color;
        }
      }
    }
  }
}

//Cristian florea left tag styles
li.logo{
  width: 40%;
  border: 0;
  display: flex;
  a{
    margin-left: 20px;
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
    color: $color;
  }
  &:hover{
    border: 0;
  }
}


.nav-items{
  width: 66.66%;
  display: flex;
  justify-content: space-around;
}
// li.social{
//   width: 40%;
//   border: 0;
//   ul{
//     display: flex;
//     justify-content: space-between;
//     height: 100%;
//     width: 100%;
//     a{
//       color: $color;
//       font-size: 25px;
//       span{
//         color: inherit;
//       }
//     }
//   }
// }


//
// @media screen and (max-width: 800px){
//   li.logo{
//     width: 100%;
//     a{
//       margin-left: $height;
//     }
//   }
//   .collapse{
//     transition: 0.2s ease-in-out;
//     position: absolute;
//     top: 0;
//     left: 0;
//     background: white;
//     width: 100%;
//     height: 100vh;
//     display: flex;
//     flex-direction: column;
//     .nav-items{
//       width: 100%;
//       flex-direction: column;
//       justify-content: space-around;
//       margin-top: 5%;
//       height: 50vh;
//       text-align: center;
//       margin: auto;
//       .nav-item{
//         border: 0;
//         &:hover{
//           border: 0;
//         }
//         a{
//           font-size: 30px;
//           width: 100%;
//           height: 100%;
//         }
//       }
//     }
//     .social{
//       margin: 0 auto;
//       width: 80%;
//       height: 10%;
//       min-height: $height;
//     }
//   }
//
//   .collapse.close{
//     transform: translateX(100vw);
//     opacity: 1;
//
//   }
//   .collapse.open{
//     transform: translateX(0vw);
//     opacity: 1;
//   }
// }
//
// @media screen and (max-width: 667px){
//   li.logo a{
//     font-size: 30px;
//     margin: 0 auto;
//   }
// }
//
// @media screen and (max-width: 414px){
//   li.logo a{
//     font-size: 30px;
//     margin: 0 auto;
//   }
// }
//
//
// @media screen and (max-width: 375px){
//   li.logo a{
//     font-size: 30px;
//     margin: 0 auto;
//   }
// }
