body {
  font-family: 'Raleway', sans-serif;
  width: 100%;
  height: 100vh;
  padding: 0;
  margin: 0;
  position: relative;
  width: 100vw;
  min-height: 100vh;
  box-sizing: border-box;
  height: 2000px;
  background: #F2F2F2;
  color: black; }

ul {
  padding: 0;
  list-style: none; }

a {
  text-decoration: none;
  color: inherit; }

.button {
  height: 50px;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 30px;
  border: 0;
  outline: none; }

.container {
  padding-top: 60px; }

.active-link {
  background: rgba(153, 153, 153, 0.1);
  border-color: black; }

.Content {
  padding: 60px 20px !important; }

.Content__header {
  margin: auto !important; }

.Content__chat {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  text-align: center; }

.Chat__list {
  display: flex;
  flex-direction: column; }

.Chat__message {
  text-align: left;
  margin-bottom: 20px;
  transition: 0.5s; }

.Chat__message span {
  background: red;
  border-radius: 20px;
  color: white;
  text-align: left;
  padding: 10px 10px; }

.Chat__animation-enter {
  opacity: 0.01;
  width: 0;
  transform-origin: left; }

.Chat__animation-enter.Chat__message-enter-active {
  opacity: 1;
  width: auto;
  transition: all .1s ease-in; }
